body{
	font-family:arial, verdana, sans-serif;
	font-size:12px;
	line-height:17pt;
	background-image: url(imgs/bg_fade1.jpg);
	background-color: #7F90AE;
	background-repeat: repeat-x;

}
p,table,th,tr,td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13pt;
	}
a {
	color: #2d446c;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: normal;
}
a:hover {
	text-decoration: underline;
	color: #0066FF;
}


#guiArea {
}
#clearArea {
	background-color: #ffffff;
}
#guiHead {
	background-image: url(imgs/bg_topGrey.jpg);
	background-repeat: no-repeat;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px none #000000;
	border-left: 1px solid #000000;

}
#guiMenu {
	background-color: #595959;
	color: #ADADAD;
	word-spacing: 4pt;
	border-top: 1px none #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px none #000000;
	border-left: 1px solid #000000;

}
#guiContent {
}




#guiChapter {
	background-color: #ffffff;
	background-position: left bottom;
	background-repeat: repeat-x;
	border-top: 1px none #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px none #000000;
	border-left: 1px solid #000000;

}
#guiChapterNav {
	background-image: url(imgs/bg_chapterNav.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;

}

.chapterHeader {
	padding-bottom: 12px;
}



#guiQ_area {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;

}
#guiQ_pics {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;

}
#guiQ_nav {
	background-image: url(imgs/bg_qNav.gif);
	background-color: #e3e3e3;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;


}
#guiQ_text {
	background-image: url(imgs/bg_qAnswer.jpg);
	background-color: #F5F5F5;
	background-repeat: repeat-x;
	background-position: bottom;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;


}


.menu{
	color: #ADADAD;
}
.menuLinks {
	color: #D9DDE6;
	height: 27px;
	padding: 0px;
}
.menuLinksOver {
	color: #000000;
	text-decoration: none;
	background-color: #ADADAD;
	height: 27px;
	padding: 0px;
}
.menuLinksActive {
	color: maroon;
	text-decoration: none;
	background-color: #ffffff;
	background-image: url(imgs/tabRight.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.tabLeft {
	background-image: url(imgs/tabLeft.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 27px;
	padding-top: 6px;
}
.menuIconDivider{
	height: 27px;
	padding-top: 6px;
	padding-left:3px;
	padding-right:3px;
	border-left: 1px solid black;
}
a.menuLink {
	color: #D9DDE6;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
a.menuLink:hover {
	color: #000000;
	text-decoration: none;
}
a.menuLinkActive {
	color: maroon;
}



a.trailLink {
	color: #D9DDE6;
	text-decoration: none;
}
a.trailLink:hover {
	color: white;
	text-decoration: underline;
}





.titleOfEquipment {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}




##### CHAPTER SPECIFIC
.updated {
	font-size: 10px;
	line-height: 17px;
	color: #666666;
}
.trail {
	font-size: xx-small;
	color: #7F90AE;
	font-family: Arial, Helvetica, sans-serif;
}


.qListHead {
	font-size: 10px;
	color: #355480;
}
.qNav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.qTitle {
	font-weight: bold;
}
.qPage {
	color: #777777;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.qAnswer {
	padding-left: 8px;
	width: 550px;
}
