/* CSS Document */
  body{
	  background-color:#e2e2e2;
	  margin:0px;
	  margin-top:10px;
	  margin-bottom:30px;
	  overflow-X:hidden;
	  overflow-Y:auto;
	  scrollbar-face-color:#E3E3E3;
	  scrollbar-shadow-color:#CCCCCC;
	  scrollbar-highlight-color:#FFFFFF;
	  scrollbar-3dlight-color:#FFFFFF;
	  scrollbar-darkshadow-color:#CCCCCC;
	  scrollbar-track-color:#F2F2F2;
	  scrollbar-arrow-color:#777777;
  }
  body,table,th,tr,td,p{
	  font-family:verdana,arial,sans-serif;
	  color:black;
	  font-size:11px;
	  line-height:13px;
  }
  h1,h2,h3,h4,h5,h6{
	  font-family:arial,sans-serif;
	  color:black;
	  line-height:17px;
	  font-weight:bold;
  }
  h1{ font-size:18px; }
  h2{ font-size:14px; }
  h3{ font-size:12px; }
  
  a{ text-decoration:none;color:#0076B0; }
  a:visited{ color:#90A8B0; }
  a:hover{ text-decoration:underline;color:blue; }

  a.subNavbar{ text-decoration:none;color:black; }
  a.subNavbar:visited{ color:black; }
  a.subNavbar:hover{ text-decoration:underline;color:maroon; }
  
  a.menuItem{ text-decoration:none;color:#0076B0;font-family:arial,verdana,sans-serif;font-size:14px;font-weight:bold; }
  /* visited = 90A8B0*/
  a.menuItem:visited{ color:#0076B0; }
  a.menuItem:hover{ text-decoration:underline;color:blue; }
  
  input,textarea{
	  font-family:verdana,arial,sans-serif;
	  color:#333333;
	  font-size:11px;
	  border:1px solid #cccccc;
	  background-color:#ffffff;
  }
  input.button{
	  height:17px;
	  border:1px solid #cccccc;
	  background-color:#e3e3e3;
  }
  
  li{list-style-image: url("imgs/listbullet.gif");}
  
  .tiny{
  	font-family:tahoma,verdana,arial,sans-serif;
	font-size:10px;
  }
  .gray{
	color:#999999;
  }
  
  TABLE#gui{
  	background-color:#ffffff;
	width:800px;
  }
  TD#top{
  	background:url("imgs/bg_top.gif");
	padding-top:24px;
	padding-left:20px;
	padding-right:15px;
  }
  TD#bottom{
  	background:url("imgs/bg_bottom.gif");
	padding-top:0px;
  }
  TD#content{
  	background-color:#ffffff;
  }
  
  .subNav{
  	padding-top:4px;
  	padding-left:15px;
  	padding-right:15px;
	font-family:arial,sans-serif;
	font-size:11px;
  }
  .nav{
  	padding-left:15px;
  	padding-right:15px;
  }
  .tinyText{
  	font-family:arial,tahoma,verdana,sans-serif;
	font-size:10px;
	text-transform:uppercase;
  }
  .address{
  	color:#5D5D5D;
  	padding-top:7px;
  }
  
  .navButton{
  	border-left:1px solid #7D7D7D;
  	border-right:1px solid #7D7D7D;
  	border-bottom:1px solid #7D7D7D;
  	border-top:8px solid #7D7D7D;
  	padding-top:2px;
  	padding-left:14px;
  	padding-right:14px;
  }
  .navButton_active{
  	border-left:1px solid #989898;
  	border-right:1px solid #989898;
  	border-bottom:1px solid #989898;
  	border-top:8px solid #989898;
  	padding-top:2px;
  	padding-left:14px;
  	padding-right:14px;
  }
  
  #menuContent{
/*  	padding-left:24px;*/
  	padding-top:14px;
  	padding-right:24px;
	}
  #menuContent_1{
  	padding-left:264px;
  	padding-bottom:24px;
  }
  #menuContent_2{
  	padding-left:290px;
  	padding-bottom:24px;
  }
  #menuContent_3{
  	padding-left:310px;
  	padding-bottom:24px;
  }
  #menuContent_4{
  	padding-left:320px;
  	padding-bottom:24px;
	width:150px;
  }
  #menuContent_5{
  	padding-left:293px;
  	padding-bottom:24px;
  }
  #menuContent_6{
  	padding-left:242px;
  	padding-bottom:22px;
  }
  #menuContent_7{
  	padding-left:154px;
  	padding-bottom:0px;
  }
  
  .borderBottom{
  	border-bottom:1px dashed #e3e3e3;
	padding-bottom:20px;
	padding-top:10px;
  }
  .name{
  	font-size:16px;
	font-weight:bold;
  }
  
  .projectLink{
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:12px;
	cursor:pointer;
  }